<header id="top-header">
    <span class="siteName">
        <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
        <% if(loggedin) { %>
            
            <a title="Manage your account" href="/account"><span>Welcome, <%- accountData.account_firstname %></span></a><span> | </span>
            <a href="/inv/favorites" title="View Your Favourites">
                Favorite Vehicles
            </a>
            <span> | </span>
            <% if(accountData.account_type == "Admin" ||  accountData.account_type == "Employee") {%>
                <h3>Inventory Management</h3>
                <p><a title="Manage Inventory" href="/inv">Inventory Management</a></p>
            <% } %>
            <a title="Click to log out" href="/account/logout">Log out</a>
        <% } else { %>
            <a title="Click to log in" href="/account/login">My account</a>
        <% } %>
    </div>
</header>