<div class="error-container">
    <h1 class="error-title"><%= title %></h1>
    <div class="error-message">
        <%- message %>
    </div>
    <a href="/" class="error-home-link">Go to Home Page</a>
</div>